<form id="search-form" class="span5 form-inline form-search search-form" method="post">
    <input type="text" id="search-query" class="search-query" placeholder="Paste YouTube or SoundCloud URL" />
    <input id="search-site" class="search-site" type="hidden" value="ytv" />
</form>