<form class="span5 form-inline form-search search-form" method="post" id="<%= formId %>">
    <input type="text" class="search-query" placeholder="Enter YouTube or SoundCloud URL" autocomplete="off" />
</form>