@font-face{font-family:'Orator';src:url('fonts/oratorstd-webfont.eot?') format('eot'),url('fonts/oratorstd-webfont.woff') format('woff'),url('fonts/oratorstd-webfont.ttf') format('truetype'),url('fonts/oratorstd-webfont.svg#webfontlZlKz9CF') format('svg');font-weight:normal;font-style:normal;}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url("icons.css");
@import "compass/reset";
@import "compass/css3";

$black: #111419;
$grey: #9B9B9B;
$light-grey: #E9E9E9;
$button-grey: #383D47;
$button-hover: #3E444F;
$blue: #1100E4;
$darkest_blue: #1E1E3C;
$red: #EB2D3E;
$green: #53C896;

body {
  background: $light-grey;
  padding: 0 0 140px;
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  @include border-radius(5px);
  @include box-sizing(border-box);
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: $black;
  text-align: center;
  outline: none;
  &:focus {
    outline: none;
  }
}

a {
  color: $blue;
  text-decoration: none;
}

.bootbox.modal {
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 100;
  background-color: $red;
  color: #FFF;
  width: 100%;
  min-height: 60px;
  @include box-sizing(border-box);
  padding: 16px 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  @include transition(all 300ms);
  @include transition-timing-function(cubic-bezier(.17,.67,.29,.98));
  .modal-body {
    display: inline-block;
  }
  .modal-footer {
    display: inline-block;
    .btn {
      background: white;
      line-height: 26px;
      color: $red;
      padding: 0px 6px;
      display: inline-block;
      @include border-radius(4px);
      margin-left: 10px;
    }
  }
  &[aria-hidden="true"] {
    bottom: 0;
  }
} 

#Home {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $light-grey;
    z-index: 2000;
    top: 0;
    left: 0;
    text-align: center;
    @include transition(top 500ms ease-in-out);
    h1 {
      width: 55px;
      height: 64px;
      background: url(../img/logo.png) no-repeat top left;
      text-indent: -9000px;
      margin: 60px auto 20px;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        h1 {
          background-image: url(../img/logo@2x.png);
          background-size: 100%;
        }
    }
    h2 {
      font-weight: 700;
      letter-spacing: -1px;
      width: 500px;
      margin: 30px auto 40px;
      font-size: 52px;
      line-height: 1.2em;
      color: $darkest_blue;
    }

    input {
      width: 50%;
      min-width: 450px;
      margin: 0 auto;
      background: white;
      font-size: 20px;
      text-align: center;
      border: 0;
      @include box-shadow(inset 0px 1px 2px 0px rgba(0,0,0,0.20));
    }

    p {
      font-size: 16px;
      margin: 40px;
    }
}



header {
  background: #FFF;
  color: $black;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  position: fixed;
  bottom: 60px;
  z-index: 100;
  overflow: hidden;

  section {
    padding: 0 20px;
  }

  img {
    height: 32px;
    width: auto;
    margin: 12px 17px 12px 30px;
    vertical-align: middle;
  }

  h2 {
    display: inline-block;
    margin-left: 1.041667%;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 2px;
  }

  input[type=text] {
    width: 100%;
    padding: 18px 0;
    font-size: 14px;
    border: 0;
    background: white;
    color: $black;
  }

  .success {
    width: 100%;
    height: 100%;
    background: #53C896;
    color: #FFF;
    font-weight: 900;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    position: absolute;
    top: 60px;
    @include transition(top 300ms);
    @include transition-timing-function(cubic-bezier(.17,.67,.29,.98));
    &.show {
      top: 0px;
      @include transition-duration(0);
      @include transition-delay(0);
    }
  } 
}

#player {
  width: 100%;
  height: 60px;
  background: $black;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

#player > section {
  margin: 0 20px;
}

#controls {
  margin: 12px 0 0 0;
  width: 49%;
  float: left;
}

#controls {
  button {
    outline: none;
    float: left;
    position: relative;
    margin: 0;
    border: 0;
    background: $button-grey;
    width: 33.333%;
    height: 35px;
    font-size: 16px;
    line-height: 1;
    color: white;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.20),
                inset 0 -1px 0 0 rgba(0,0,0,0.20),
                inset -1px 0 0 0 rgba(255,255,255,0.05),
                inset 1px 0 0 0 rgba(0,0,0,0.30);
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.20),
                  inset 0 -1px 0 0 rgba(0,0,0,0.20),
                  inset -1px 0 0 0 rgba(255,255,255,0.05);
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.20),
                  inset 0 -1px 0 0 rgba(0,0,0,0.20),
                  inset 1px 0 0 0 rgba(0,0,0,0.30);
    }
    &:hover {
      background-color: $button-hover;
    }
    &:active, &.pressed {
      height: 34px;
      top: 1px;
      background-color: #24282D;
      box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.20),
                  inset 1px 0 0 0 rgba(0,0,0,0.20),
                  inset 0 1px 0 0 rgba(0,0,0,0.20);
      span {
        top: 1px;
      }
    }
    &.pressed:active {
      height: 33px;
      top: 2px;
      span {
        top: 2px;
      }
    }
    span {
      position: relative;
    }
    .i-play, .i-skip {
      left: 2px;
    }
  }
}

.display {
  display: none;
  font-family: "Orator", monospace;
  float: left;
  width: 47%;
  height: 35px;
  background: #FFFFE3;
  margin: 12px 1.04%;
  @include border-radius(4px);
  line-height: 37px;
  position: relative;
  cursor: pointer;
  .play-time {
    float: left;
    display: inline-block;
    width: 13%;
    margin-left: 2%;
    font-size: 12px;
  }
  .track-title {
    float: left;
    display: inline-block;
    width: 70%;
    text-align: center;
    text-transform: lowercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.1em;
    font-size: 14px;
  }
  .end-time {
    float: left;
    display: inline-block;
    width: 13%;
    margin-right: 2%;
    text-align: right;
    font-size: 12px;
  }

  #timebar-inner{
    border-right: 2px solid blue;
    height: 100%;
    position: relative;
    z-index: 0;
  }
}

#secondary-controls {
  width: 49%;
  float: right;
  margin: 10px 0;
  line-height: 42px;

  .i-shuffle {
    display: inline-block;
    visibility: hidden;
    position: relative;
    color: #555;
    left: 3%;
    width: 15%;
    text-align: center;
  }

  #volume {
    width: 78%;
    display: inline-block;
    position: relative;
    top: -1px;
    color: white;
    margin-left: 3%;

    .i-volume {
      display: inline-block;
      width: 20%;
      text-align: center;
    }

    .slider {
      display: inline-block;
      height: 16px;
      width: 76%;
      background: #505050;
      box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.2),
                  inset 0 1px 0 0 rgba(0,0,0,0.2);
      @include border-radius(10px);
      position: relative;
      top: 2px;
    }

    .ui-slider-handle {  
        position: absolute;  
        z-index: 2;  
        width: 24px;  
        height: 24px;  
        cursor: pointer;  
        background: $button-grey;
        font-weight: bold;  
        color: #1C94C4;  
        outline: none;  
        top: -4px;  
        margin-left: -12px;  
        @include border-radius(12px);
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2),
                    inset 0 -1px 0 0 rgba(0,0,0,0.2);
    }
    .ui-slider-range {  
        background: #FFF;  
        position: absolute;  
        border: 0;
        top: 0;  
        height: 100%;  
        @include border-radius(25px);
        box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.2),
                    inset 0 1px 0 0 rgba(0,0,0,0.2);
    } 
  }
}

.playlist {
  position: relative;
  margin: 20px;
  counter-reset: track-count 0;
  li {
    background: #fff;
    padding: 2%;
    border-bottom: 1px solid $light-grey;
    font-size: 12px;
    cursor: pointer;

    @include transition(font-size 200ms);
    &:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom: 0;
    }

    .title {
      display: inline-block;
      margin-left: 2%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 79%;
      color: $black;
      line-height: 1.2em;
      font-weight: 400;
      vertical-align: middle;
      @include transition(all 200ms);
      &:before {
        display: inline-block;
        margin-right: 1em;
        content: counter(track-count);
        counter-increment: track-count;
        color: $grey;
        font-weight: 400;
      }
    }

    .time {
      font-size: 80%;
      display: inline-block;
      margin-left: 1%;
      width: 10%;
      text-align: right;
      color: $grey;
      vertical-align: middle;
    }

    .list-play {
      border: 0;
      width: 6%;
      height: auto;
      vertical-align: middle;
      display: inline-block;
      @include transition(all 200ms);
      position: relative;
      overflow: hidden;
      background: #eee;
      @include border-radius(200px);
      line-height: 0;
      cursor: pointer;
    }

    #video {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      iframe {
        width: 180%;
        height: 101.5%;
        position: relative;
        left: -38%;
        margin-top: 0;
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/video_mask.png') no-repeat center top;
        background-size: 100%;
        z-index: 10;
      }
    }

    .list-play .img {
      display: inline-block;
      width: 100%;
      background-repeat: none;
      background-position: center;
      background-size: auto 100%;
      position: relative;
      @include border-radius(200px);
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        background: rgba(0,0,0,0.2);
        @include transition(all 200ms);
        @include border-radius(200px);
      }
      &:hover {
        &:after {
          background: rgba(0,0,0,0);
        }
      }
    }

    .list-play img {
      display: block;
      width: 100%;
      height: 100%;
      @include border-radius(200px);
      border: 0;
      position: relative;
      z-index: 10;
    }
    &.playing {
      .list-play {
        width: 20%;
      }
      .title {
        width: 62%;
        margin-left: 3%;
        margin-right: 2%;
        font-size: 1.2em;
      }
      &.playTrack {
        .title {
          color: $blue;
        }
        img {
          opacity: 0;
        }
        .img:after,
        .img:before {
          display: none;
        }
      }
    }

    &.ytv {
      .list-play .img {
        background-size: auto 140%;
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  color: #D4D4D4;
  margin: 50px 0 20px;
  @include transition(color 200ms ease-in-out);
  &:hover {
    color: $grey;
    a {
      color: $grey;
    }
  }
  a {
    color: #D4D4D4;
    text-decoration: underline;
    @include transition(color 200ms ease-in-out);
  }
}

/* Small desktop */
@media only screen and (min-width : 640px) {
  .display {
    display: block;
    width: 52%;
  }
  #controls, #secondary-controls {
    width: 22.9%;
  }
  .playlist {
    li {
      font-size: 16px;
    }
  }
}

/* Desktop only */
@media only screen and (min-width : 1030px) {
  .display {
    width: 66.666%;
  }
  #controls, #secondary-controls {
    width: 15.625%;
  }
  .playlist {
    li {
      font-size: 20px;
    }
  }
}