<div id="Home">
    
    <h1>Amply</h1>

    <h2>Create, save & share playlists in a snap.</h2>

    <%- partial('partials/search-bar.ejs',{formId: 'search-bar-home'}) %>

    <p>
      <a href="/24">Preview a sample playlist</a>
    </p>
</div>