<div id="Home">
    
    <h1>Plister</h1>

    <h2>Make playlists from all over the web</h2>

    <%- partial('partials/search-bar.ejs') %>

    <p>
      <a href="/64">Preview a sample playlist</a>
    </p>
</div>