@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url("icons.css");
@font-face {
  font-family: 'Orator';
  src: url("fonts/oratorstd-webfont.eot?") format("eot"), url("fonts/oratorstd-webfont.woff") format("woff"), url("fonts/oratorstd-webfont.ttf") format("truetype"), url("fonts/oratorstd-webfont.svg#webfontlZlKz9CF") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  background: #e9e9e9;
  padding: 60px 0 80px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/* line 18, ../sass/screen.scss */
#Home {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #e9e9e9;
  z-index: 1000;
  top: 0;
  left: 0;
}

/* line 28, ../sass/screen.scss */
header {
  background: white;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  z-index: 100;
}
/* line 37, ../sass/screen.scss */
header section {
  padding: 0 20px;
}
/* line 41, ../sass/screen.scss */
header img {
  height: 32px;
  width: auto;
  margin: 12px 17px 12px 30px;
  vertical-align: middle;
}
/* line 48, ../sass/screen.scss */
header h2 {
  display: inline-block;
  margin-left: 1.041667%;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 2px;
}

/* line 58, ../sass/screen.scss */
#player {
  width: 100%;
  height: 60px;
  background: #111419;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: fixed;
  bottom: 0;
}

/* line 67, ../sass/screen.scss */
#player > section {
  margin: 0 20px;
}

/* line 71, ../sass/screen.scss */
#controls {
  margin: 12px 0 0 0;
  width: 49%;
  float: left;
}

/* line 78, ../sass/screen.scss */
#controls button {
  outline: none;
  float: left;
  position: relative;
  margin: 0;
  border: 0;
  background: #2d3339;
  width: 33.333%;
  height: 35px;
  font-size: 16px;
  color: white;
  overflow: hidden;
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 0 rgba(255, 255, 255, 0.05), inset 1px 0 0 0 rgba(0, 0, 0, 0.3);
}
/* line 95, ../sass/screen.scss */
#controls button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 0 rgba(255, 255, 255, 0.05);
}
/* line 102, ../sass/screen.scss */
#controls button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 0 rgba(0, 0, 0, 0.3);
}
/* line 109, ../sass/screen.scss */
#controls button:hover {
  background-color: #373D43;
}
/* line 112, ../sass/screen.scss */
#controls button:active, #controls button.pressed {
  height: 34px;
  top: 1px;
  background-color: #24282D;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}
/* line 119, ../sass/screen.scss */
#controls button:active span, #controls button.pressed span {
  top: 1px;
}
/* line 123, ../sass/screen.scss */
#controls button.pressed:active {
  height: 33px;
  top: 2px;
}
/* line 126, ../sass/screen.scss */
#controls button.pressed:active span {
  top: 2px;
}
/* line 130, ../sass/screen.scss */
#controls button span {
  position: relative;
}
/* line 133, ../sass/screen.scss */
#controls button .i-play, #controls button .i-skip {
  left: 2px;
}

/* line 139, ../sass/screen.scss */
.display {
  display: none;
  font-family: "Orator", monospace;
  float: left;
  width: 47%;
  height: 35px;
  background: #FFFFE3;
  margin: 12px 1.04%;
  border-radius: 4px;
  line-height: 37px;
  position: relative;
  cursor: pointer;
}
/* line 151, ../sass/screen.scss */
.display .play-time {
  float: left;
  display: inline-block;
  width: 13%;
  margin-left: 2%;
  font-size: 12px;
}
/* line 158, ../sass/screen.scss */
.display .track-title {
  float: left;
  display: inline-block;
  width: 70%;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -0.1em;
  font-size: 14px;
}
/* line 170, ../sass/screen.scss */
.display .end-time {
  float: left;
  display: inline-block;
  width: 13%;
  margin-right: 2%;
  text-align: right;
  font-size: 12px;
}
/* line 179, ../sass/screen.scss */
.display #timebar-inner {
  border-right: 2px solid blue;
  height: 100%;
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

/* line 188, ../sass/screen.scss */
#secondary-controls {
  width: 49%;
  float: right;
  margin: 12px 0;
  line-height: 42px;
}
/* line 194, ../sass/screen.scss */
#secondary-controls .i-shuffle {
  display: inline-block;
  position: relative;
  color: #555;
  left: 3%;
  width: 15%;
  text-align: center;
}
/* line 203, ../sass/screen.scss */
#secondary-controls #volume {
  width: 78%;
  display: inline-block;
  position: relative;
  top: -1px;
  color: white;
  margin-left: 3%;
}
/* line 211, ../sass/screen.scss */
#secondary-controls #volume .i-volume {
  display: inline-block;
  width: 20%;
  text-align: center;
}
/* line 217, ../sass/screen.scss */
#secondary-controls #volume #slider {
  display: inline-block;
  height: 16px;
  width: 76%;
  background: #505050;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
  top: 2px;
}
/* line 229, ../sass/screen.scss */
#secondary-controls #volume .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #2d3339;
  font-weight: bold;
  color: #1C94C4;
  outline: none;
  top: -4px;
  margin-left: -12px;
  border-radius: 12px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
/* line 245, ../sass/screen.scss */
#secondary-controls #volume .ui-slider-range {
  background: #3672E7;
  position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  border-radius: 25px;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

/* line 258, ../sass/screen.scss */
.playlist {
  position: relative;
  margin: 0 20px;
}
/* line 261, ../sass/screen.scss */
.playlist li {
  background: #fff;
  padding: 2%;
  border-bottom: 1px solid #e9e9e9;
}
/* line 266, ../sass/screen.scss */
.playlist li .title {
  display: inline-block;
  margin-left: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  color: #1100e4;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 900;
  vertical-align: middle;
  transition: all 200ms;
}
/* line 281, ../sass/screen.scss */
.playlist li .time {
  display: inline-block;
  margin-left: 1%;
  width: 10%;
  text-align: right;
  color: #9b9b9b;
  vertical-align: middle;
}
/* line 290, ../sass/screen.scss */
.playlist li .list-play {
  border: 0;
  width: 5%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  transition: all 200ms;
  position: relative;
  overflow: hidden;
  background: #eee;
  border-radius: 100px;
}
/* line 303, ../sass/screen.scss */
.playlist li #video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 309, ../sass/screen.scss */
.playlist li #video iframe {
  width: 180%;
  height: 100%;
  position: relative;
  left: -40%;
  margin-top: 0;
}
/* line 318, ../sass/screen.scss */
.playlist li .list-play .img {
  display: inline-block;
  width: 100%;
  opacity: 0;
}
/* line 324, ../sass/screen.scss */
.playlist li .list-play img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 200px;
  background: #eee;
  border: 0;
}
/* line 333, ../sass/screen.scss */
.playlist li.playing .list-play {
  width: 20%;
}
/* line 336, ../sass/screen.scss */
.playlist li.playing .title {
  width: 65%;
  color: #111419;
}
/* line 343, ../sass/screen.scss */
.playlist:first-child {
  margin-top: 20px;
}
/* line 346, ../sass/screen.scss */
.playlist:first-child li:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 352, ../sass/screen.scss */
.playlist:nth-child(2) {
  margin-bottom: 20px;
}
/* line 355, ../sass/screen.scss */
.playlist:nth-child(2) li:last-child {
  border: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Small desktop */
@media only screen and (min-width: 640px) {
  /* line 366, ../sass/screen.scss */
  .display {
    display: block;
    width: 52%;
  }

  /* line 370, ../sass/screen.scss */
  #controls, #secondary-controls {
    width: 22.9%;
  }
}
/* Desktop only */
@media only screen and (min-width: 1030px) {
  /* line 377, ../sass/screen.scss */
  .display {
    width: 66.666%;
  }

  /* line 380, ../sass/screen.scss */
  #controls, #secondary-controls {
    width: 15.625%;
  }
}
